:root {
    --verde-principal: #30BFAB;
    --rosa: #DB2CD2;
    --branco: #ffffff;
    --preto: #343434;
  }
  
  .medalha {
    border-image-width: 5%;
    width: 60%;
  }
  
  .pai {
    position: relative;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    height: 100vh;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centraliza o elemento */
  }
  
  .corpo {
    display: flex;
    align-items: center;
    background-color: var(--branco);
  }
  
  .paragrafo {
    text-align: center;
    color: var(--preto);
    font-family: 'Roboto', sans-serif;
    width: 70%;
    font-weight: 500;
  }
  
  .botao {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.4rem;
    border-color: var(--rosa);
    border-style: none;
    color: var(--branco);
    background-color: var(--rosa);
  }
  